

h1 {
  color: blue;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
  background-color: lightblue;
}
h2 {
  color: red;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 35px;
  font-weight: bolder;
  border: 1px solid black;
  padding: 5px;
  background-color: #ffeaec;
}
h3 {
  color: #471382;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  background-color: #dbc3f7;
}
th {
  color: #4d049b;
  background-color: lightgray;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  padding:5px;
  width: 75%;
}

th, td {
  border: 1px solid black;
  text-align: center;
  padding: 5px
}

p {
  padding:5px
}
img{
  padding: 10px;
}
div{
  padding:10px;
}
#highly{
  font-size: 20px;
}
#medium{
  font-size: 18px;
}
#low{
  font-size: 15px;
}
.name{
  font-weight: bold;
    color: red;
}
